
html {
  font-size : 62.5%;
  }

*,
*::before,
*::after {
  margin     : 0;
  padding    : 0;
  box-sizing : inherit;
  /***********f**enforce all element inherited from its parent*/
  }

body {
  box-sizing : border-box;

  }